html {
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    -webkit-backdrop-filter: blur(5px);
    -ms-filter: blur(5px);

}


/* Navbar*/

#mainNav, #mainNavIndex{
    padding-bottom: 60px;
}

#mainNav a{
      color: #F7F4F1;
  }a:hover{
    color: darkgray !important;
   }

   #mainNavIndex a {
       color: white;
   }a:hover{
    color: darkgray;!important;
   }

.navbarBrand{
    padding-top: 50px !important;
}
.navbar-toggler {
    width: 100%;
    float: none;
    margin-right: 0;
}

#navbar-nav{
    left: 50% !important;
    right: auto;
    text-align: center !important;
    transform: translate(-50%, 0);
}

/*Btn Slide show Navbar sm */


.btn-slide-show:hover{
    transition: 0.8s;
    opacity: 0.8;
    font-size: 45px;
    color: #807369;
}

@keyframes wipeIt {
    0%   {top: 8px;}
    25%  {
        color: #807369;
        top: 8px;}
    75%  {
        color: #F7F4F1;
        top: 2px;}
    100% {
        color: #807369;
        top: 8px;}
}


.btn-slide-show {
    font-size: 30px;
    transform: translate(-50%, 0);
    color: #F7F4F1;
    position: absolute;
    animation: wipeIt 3s infinite;
}



/*Background-Video*/

#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/* Render Message add Blogentrie*/

#renderMessage{
    height: 100px;
}

#newsTable{
    padding-bottom: 15%;
}

#addNewsForm{
    padding-bottom: 15%;
}
#addNewsForm input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer_klein {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-bottom: 0;
}
#footer_klein a{
    color: white;
    cursor: pointer;
  }

footer .icon {
    font-size: 15px;
}

.topLogo img{
    width:20%;
    height:20%;
}

@media screen and (min-width: 1080px){
    .topLogo{
        transition: 2s;
        top: 30px;
        left: 25px;
    }
}

@media screen and (max-width: 500px){
    .topLogo{
        transition: 2s;
        top: 5px;
        left: 5px;
    }
}