body{

}

#mainNav{
    padding-bottom: 60px;
}

#mainNav a{
      color: #F7F4F1;
  }a:hover{
    color: darkgray !important;
   }

.navbarBrand{
    padding-top: 50px !important;
}
.navbar-toggler {
    width: 100%;
    float: none;
    margin-right: 0;
}

#navbar-nav{
    left: 50% !important;
    right: auto;
    text-align: center !important;
    transform: translate(-50%, 0);
}


#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.btn-slide-show {
    font-size: 30px;
    transform: translate(-50%, 0);
    color: #F7F4F1;
    position: absolute;
    animation: wipeIt 3s infinite;
}

#btnSlideShowHide{
    display: none;
}

.btn-slide-show:hover{
    transition: 0.8s;
    opacity: 0.8;
    font-size: 45px;
    color: #807369;
}

@keyframes wipeIt {
    0%   {top: 8px;}
    25%  {
        color: #807369;
        top: 8px;}
    75%  {
        color: #F7F4F1;
        top: 2px;}
    100% {
        color: #807369;
        top: 8px;}
}