
<footer class="card-footer" style="background-color: RGBA(52, 58, 64, 0.8)">
    <div class="container">
        <div id="footer_klein">
            <div class="flex-item">
                <div class="flex-container-1 card-footer" >
                    <div class="card-body_klein">
                        <hr>
                        <i class="fas fa-truck mb-3 icon"></i>
                        <h6 class="card-title"><a href="">Impressum</a></h6>
                    </div>
                </div>

                <hr>

                <div class="flex-container-1 card-footer ">
                    <div class="card-body_klein">
                        <i class="fas fa-user-friends icon"></i>
                        <a href="">
                            <h6 class="card-title mt-3">Rechtliche Hinweise</h6>
                        </a>
                    </div>
                </div>

                <hr>

                <div class="flex-container-1 card-footer">
                    <div class="card-body_klein">
                        <i class="far fa-comments icon"></i><a href="">
                        <h6 class="card-title mt-2 mb-3">Nutzungsbedingungen</h6>
                    </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>