<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>

    <!-- Link to stylesheets-->
    <link rel="stylesheet" href="/styles/style_renderNews.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Link to Javascript -->
    <script>var exports = {"__esModule": true};</script>
    <script src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/script/scriptNewsFeed.js"></script>
</head>
<body>
<div class="container">
    <div id="newsTable">
        <!-- News Table will inserted here -->
    </div>
</div>
</body>
</html>